/*--------------------*/
.row {
	display: flex;
	align-items: center;
	justify-content: center;
}

button {
	margin: 20px;
	font-size: 20px;
	width: 40px;
	height: 40px;
}
.jscalc {
	text-align: center;
	width: 80%;
	margin: 50px auto;
	background-color: rgba(21, 116, 116, 0.507);
	box-shadow: 5px 5px 10px rgba(22, 36, 36, 0.507);
	padding: 50px;
}
label {
	display: block;
	font-size: 20px;
}
.input-block {
	margin: 50px auto;
	font-size: 20px;
}

#result_p {
	padding: 10px 20px;
	font-size: 20px;
	background-color: #fff;
	display: inline-block;
	border-radius: 15px;
}
